body{
  background-color: white;
}
.app-container {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.6fr 0.9fr 0.6fr 2.4fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header"
    "title"
    "feature"
    "products"
    "footer"; 
  width: 100vw;
  height:100vh;
}
.header { grid-area: header; }
.title { grid-area: title; }
.feature { grid-area: feature; }
.products { grid-area: products; }
.footer { grid-area: footer; }

.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

.products{
  border: groove 1px #3586ff;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  white-space: nowrap;
  margin: 30px;
  margin-bottom: 230px;
}
.products-container{ 
  border: groove 1px #3586ff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  white-space: nowrap;
  margin: 30px;
  margin-bottom: 230px;

}
.productCard{
  text-align: center;
  min-width: 100px;
  max-width: 300px;
}

.single-product-page {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10em;
}

.single-product-card {
  text-align: center;
  width: 300px;
  box-shadow: 0 5px 5px #3586ff; 
}

.back-button .add-to-cart {
  margin-top: 1em;
  width: 50%;
  border: 3px solid #3586ff;
}

.imgSmall{
max-width: 210px;
max-height:230px;
}

/* FOOTER DATA */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer-container {
  position: relative;
  height: 0vh;
}

.footer {
  position:fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

#search{
  margin-top: 100px;
  margin-left: 35px;
}
.productsInput{
  width: 30%;
}

#welcomeImg{
  display: flex;
  margin-top:60px;
  margin-left: auto;
  margin-right: auto;
}