@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Gloock&display=swap');

#logoutButton {
    color: white;
    background-color: rgb(0, 0, 0, .3);
    /* border-left: thick solid white;
    border-right: none;
    border-top: none;
    border-bottom: none; */
    border: none;
    height: 100%;
    width: 8vw;
    font-size: 2vw;
    font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Gloock', serif;
}

#header {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, .3);
    width: 60%;
    height: 100%;
}

#left_wrapper {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#right_wrapper {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#company_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.dropdown {
    position: relative;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    height: 100%;
    border: none;
    background-color: inherit;
    font: inherit;
    color: white;
}

/* for the dropdown menu before it drops down */
#nav_bar {
    position: absolute;
    left: 0;
    top: calc(90%);
    background-color: white;
    padding: .75rem;
    border-radius: 3px;
    box-shadow: 0px 2px 10px 0px rgb(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

/* for the dropdown menu during and after it drops down */
.dropdown > .link:hover + #nav_bar {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#nav_bar:hover {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}