form {
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    gap: 4vw;
    width: 100vw;
    align-items: stretch;
}

.form-input {
    display: flex;

}

label {
    font-size: 3vh;
}

input {
    height: 3vh;
}

.btnsubmit {
    margin-left: -3vw;
    margin-bottom: .5vh;
}